@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

main {
    background: url(./images/nza_background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
}

main {
    margin: 35px auto;
}

main {
    background-color: #fff;
    padding: 0 65px;
}
/* style="padding-left: 0px; */

#logo-container {
    margin: 25px 0 20px 0;
}

header {
    padding-bottom: 25px;
}

#authentication-container a {
    background-color: #CCCCCC;
    border-color: #CCCCCC;
    border-radius: 0 0 .3rem .3rem;
}

/* NAVIGATION BAR - begin */


nav {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px 0;
}

#navigation-list {
    margin: 10px;
}
#navigation-list {
    display: flex;
    justify-content:space-around;
}

#navigation-list li {
    display: inline;
}

#navigation-list li a {
    color: black;
    text-transform: uppercase;
}

.divider {
    color: #CCCCCC;
}

#sidebar {
    background: url(./images/nav_side_sub.jpg) no-repeat;
    background-size: cover;
}

#sidebar-content {
    padding: 20px;
    color: #fff;
    overflow-y: scroll;
}

.slideshow, #sidebar-content {
    max-height: 453px;
}

.sidebar-title {
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}

/* NAVIGATION BAR - end */

.extra-content {
    font-size: 14px;
    margin-top: 35px;
}

/* FOOTER - begin */
footer {
    margin-top: 55px;
    border-top: 2px solid black;
    padding-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.footer-ul {
    display: flex;
    justify-content: center;
}

.footer-ul li {
    display: inline;
}

.footer-ul li a {
    padding: 0 10px;
    color: black;
}

/* FOOTER - end */

#wwd-sidebar, #www-sidebar {
    background: url(./images/nav_side.jpg) no-repeat;
    background-size: cover;
} */

 #contact-sidebar {
    background: url(./images/other_links_background.jpg) no-repeat;
    background-size: cover;
    font-size: 14px;
}

#wwd-sidebar-content, #www-sidebar-content, #contact-sidebar {
    padding: 20px;
    color: #fff;
}

#wwd-sidebar .category, #www-sidebar .category {
    margin-bottom: 15px;
}

#wwd-sidebar li {
    margin-left: 20px;
}


#wwd-sidebar .category li a, #www-sidebar .category a {
    color: #fff;
}

.sidebar-content-bottom {
    font-size: 14px;
    margin-top: 10px;
}

.link-container img {
    width: 100%;
    margin-bottom: 10px;
}

.state-border {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 5px;
}

.contact-container {
    font-size: 14px;
    margin-top: 35px;
}

.red-text-container {
    margin: 15px 0;
    line-height: 1.2;
}

.red-text {
    color: #7C2E2A;
}

.contact-text {
    margin-bottom: 35px;
}